<!--<h2>Sign up</h2>-->



<%#= render "devise/shared/links" %>

<div class="container">
  <div class="row">
    <%= render 'shared/dummyPhone' %>
    <div class="col-lg-6 landing-right text-center d-flex align-items-center">
      <div>
        <div class="form-login box">
          <div class="box separation-border">
            <h3 class="core-sprite brand-name-img"></h3>
            <h5 class="title2 light-color"><strong>Sign up to see photos and videos from your friends.</strong></h5>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.text_field :name, autofocus: true, :placeholder => 'Your name', :class => 'form-control' %>
            </div>

            <div class="field">
              <%= f.email_field :email, autocomplete: "email", :placeholder => 'E-Mail', :class => 'form-control' %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => 'Password', :class => 'form-control' %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'Password confirmation', :class => 'form-control' %>
            </div>

            <div class="actions ">
              <%= f.submit "Sign up", :class => 'btn btn-primary' %>
            </div>
          <% end %>
          <p class="light-color policy">
            By signing up, you must agree to our</br> <a href=""><strong>Term & Privacy Policy.</strong></a>
          </p>
        </div>
        <div class="redirect-links box">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>