<div class="container">
  <div class="row">
    <%= render 'shared/dummyPhone' %>
    <div class="col-lg-6 landing-right text-center d-flex align-items-center">
      <div>
        <div class="form-login box">
          <h3 class="core-sprite brand-name-img"></h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, :placeholder => 'Username', autofocus: true, autocomplete: "email", :class => 'form-control email' %>
            </div>

            <div class="field">
              <%= f.password_field :password, :placeholder => 'Password', autocomplete: "current-password", :class => 'form-control password' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", :class => 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <div class="redirect-links box">
          <%= render "devise/shared/links"%>
        </div>
      </div>
    </div>
  </div>
</div>